* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn-outline {
	display: inline-block;
	padding: 5px 15px;
	border: 2px solid rgb(60, 90, 95);
	border-radius: 10px;
	font-size: 14px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 0.34;
	font-size: 18px;
	padding: 5px 30px;
	transition: all 0.2s ease-out;
	margin: 20px;
}

.btn-color {
	color: rgb(60, 90, 95);
}

.btn-secondary-color {
	background-color: rgb(60, 90, 95);
	color: white;
}

.btn-outline:hover {
	background-color: rgb(60, 90, 95);
	color: white;
}

.mr-4 {
	margin-right: 10px;
}
